package ${package}.dto;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.*;

import java.io.Serializable;
#if(${hasDatetime})
import java.util.Date;
#end
#if(${hasBigDecimal})
#end

/**
 * @Description:    ${comments}
 * @Author:          ${author}
 * @CreateDate:      ${datetime}
 * @UpdateUser:      ${author}
 * @UpdateDate:     ${datetime}
 * @UpdateRemark: 修改内容
 * @Version: 1.0
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor(access = AccessLevel.PRIVATE)
@ApiModel(value = "${className}DTO", description = "${tableComments}")
public class ${className}DTO implements Serializable {
    private static final long serialVersionUID = -1L;

    @ApiModelProperty(value = "id")
    private String id;

    #foreach ($column in $columns)
        #if($column.attrname!="createBy"&&$column.attrname!="updateBy")
            @ApiModelProperty(value = "$column.comments", required = true)
            private $column.attrType $column.attrname;
        #end
    #end
}
