package ${package}.feign;
import org.springframework.cloud.openfeign.FeignClient;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestParam;
import com.belong.common.core.base.ResponseVO;
import com.belong.common.core.constant.ServiceNameConstants;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestParam;
import com.belong.common.core.page.PageDataInfo;

import java.util.Map;

/**
 * @Description:     ${comments}
 * @Author:          ${author}
 * @CreateDate:      ${datetime}
 */
@FeignClient(name = ServiceNameConstants.BELONG_SERVICE_WECHAT_APPLET_INFO, fallbackFactory = Remote${className}DOFallbackFactory.class)
public interface Remote${className}DOFService {
    @RequestMapping(method = RequestMethod.GET,value ="/v1/db/${classname}/list",headers = {"Content-Type=application/x-www-form-urlencoded"})
    public ResponseVO<PageDataInfo<${className}ListVO>> list(@RequestParam Map<String, Object> map);

    @RequestMapping(method = RequestMethod.POST,value ="/v1/db/${classname}/saveOrUpdate",headers = {"Content-Type=application/json;charset=UTF-8"})
    public ResponseVO saveOrUpdate(@RequestBody ${className}VO ${classname}VO);

    @RequestMapping(method = RequestMethod.GET,value ="/v1/db/${classname}/get/{id}",headers = {"Content-Type=application/x-www-form-urlencoded"})
    public ResponseVO<${className}VO> get(@PathVariable("id") String id);

    @RequestMapping(method = RequestMethod.GET,value ="/v1/db/${classname}/remove/{id}",headers = {"Content-Type=application/x-www-form-urlencoded"})
    public ResponseVO remove(@PathVariable("id") String id);

}
