<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.mapper.${className}Mapper">

    <resultMap type="${package}.domain.${className}DO" id="${classname}Do">
        #foreach ($column in $allColumns)
            <result column="$column.columnName" property="$column.attrname"/>
        #end
    </resultMap>

    <sql id="selectColumns">
    SELECT
    #foreach ($column in $allColumns)
        #if($column.attrname!="delFlag")
    a.$column.columnName as $column.attrname,
    #end
        #if($column.attrname=="delFlag")
    a.$column.columnName as $column.attrname
        #end
    #end
    FROM
    ${tableName} a
    </sql>

    <!-- 删除 -->
    <update id="deleteById">
        UPDATE ${tableName}
        SET del_flag = '1'
        WHERE id = #{id}
    </update>
    <!-- 批量删除 -->
    <delete id="deleteBatchIds">
        UPDATE  ${tableName}
        SET del_flag = '1' where id in
        <foreach item="idList" collection="list" open="(" separator="," close=")">
            #{idList}
        </foreach>
    </delete>

    <select id="get" resultType="${package}.domain.${className}DO">
        <include refid="selectColumns"/>
        WHERE a.id = #{id}
    </select>

    <!-- 分页查询 -->
    <select id="findList" resultType="${package}.domain.${className}DO">
        <include refid="selectColumns"/>
        WHERE a.del_flag = '0'
        #foreach ($column in $columns)
            #if($column.attrname!="createBy" && $column.attrname!="updateBy")
                <if test="$column.attrname != null and $column.attrname != ''">
                    AND a.$column.columnName like CONCAT('%', #{$column.attrname}, '%')
                </if>
            #end
        #end
        ORDER BY a.create_date
    </select>

    <!-- 查询全部 -->
    <select id="findAllList" resultType="${package}.domain.${className}DO">
        <include refid="selectColumns"/>
        WHERE a.del_flag = '0'
        ORDER BY a.create_date
    </select>

</mapper>