<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.belong.service.wechat.applet.casus.mapper.WxUserCasusMapper">

    <resultMap type="com.belong.service.wechat.applet.casus.api.domain.WxUserCasusDO" id="wxUserCasusDo">
                    <result column="id" property="id"/>
                    <result column="wx_user_id" property="wxUserId"/>
                    <result column="apply_id" property="applyId"/>
                    <result column="introduced" property="introduced"/>
                    <result column="create_by" property="createBy"/>
                    <result column="update_by" property="updateBy"/>
                    <result column="create_date" property="createDate"/>
                    <result column="update_date" property="updateDate"/>
                    <result column="del_flag" property="delFlag"/>
                    <result column="version" property="version"/>
                    <result column="remark" property="remark"/>
            </resultMap>

</mapper>